body {
    margin : 0;
    padding : 0;
}

.header {
    background : white;
    border-bottom: 1px solid lightgray;
}

.container {
    width : 980px;
    margin : auto;
}

.container-left {
    padding : 20px 0;
}

.logo {
    float : left;
    margin-right : 5px;
}

/* 유지보수를 위해  CSS 작성 시 HTML 태그 구조와 맞춰서 작성 */
/* display block으로 정확한 픽셀 계산 가능하게 만듬 */
.logo img {
    display: block;
}

.menu {
    float : left;
}

/* 수평 속성으로 만들기 */
.menu-item {
    float: left;
    /* margin-right: 10px; */
    padding: 8px 10px;
    /* 위 코드의 의미 */
    /* padding-top : 8px; */
    /* padding-bottom : 8px; */
    /* padding-left : 10px; */
    /* padding-right : 10px; */
    
}

/* 배경색상 해결 */
.clearfix::after {
    content : "";
    display : block;
    clear : both;
}

